
<div class="header">
  <div class="left">
    <div class="logo">
      <img src="assets/Frame.jpg" alt="">
    </div>
    <nav class="header-nav">
      <div class="header-nav-item">Главная</div>
      <div class="header-nav-item">О компании</div>
      <div class="header-nav-item">Каталог</div>
    </nav>
  </div>
  <div class="right">
    <div class="number">
      <img src="assets/Phone (2).png" alt="картина">
      <span>+7 (965) 084-29-29</span>
    </div>
    <div class="heart">
      <img src="assets/heart 1.png" alt="картина">
    </div>
    <button class="button">
      <div><img src="assets/Mask group.png" alt="картина"></div>
      Пусто
    </button>
  </div>
</div>
<div class="Top-Bar">
  <div class="Top-Bar-left">
    <div class="catalog">
      <img class="three"
        src="https://avatars.mds.yandex.net/i?id=366e68572fff18578ad4920390d5f77ba85df4f5-3733141-images-thumbs&n=13"
        alt="картина">
      <span>Каталог</span>
    </div>
    <div class="material">Стройматериалы</div>
    <div class="tool">Инструменты</div>
    <div class="electricity">Электрика</div>
    <div class="interier">Интерьер и одежда</div>
  </div>
  <div>
    <div class="Top-Bar-right">
      <div class="">
        <input class="search" type="search" placeholder="Поиск, например Круг зачистной ">
      </div>
      <div class="moscow">
        <img class="gps"
          src="https://avatars.mds.yandex.net/i?id=97c0f9ad07370e93cdd03f2e2393eaa936e3cb10-8455861-images-thumbs&n=13"
          alt="картина">
        <span>
          Москва
        </span>
      </div>
    </div>
  </div>