


.header {
    display: flex;
    background-color: #4B565E;
    height: 80px;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    color: white;
}
.left {
    display: flex;
    align-items: center;
}
.logo {
  margin-right: 20px;
}
.header-nav {
    display: flex;
}
.header-nav-item {
    margin-right: 20px;
}
.right {
    display: flex;
    align-items: center;
}
.number {
    height: 15px;
    margin-right: 20px;
    align-items: center;
    color: white;
}
.heart {
    margin-right: 20px;
    align-items: center;
}
.button {
    margin-right: 20px;
    align-items: center;
    display: flex;
    padding: 12px;
    background-color:  #4B565E;
    color: white;
    border-radius: 20px ;
    border: 2px solid  #F0BA4E;
}
.Top-Bar {
    height: 48px;
    background-color: #F0BA4E;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
}
.Top-Bar-left {
    display: flex;
    align-items: center;
}
.material {
    margin-right: 20px;
}
.tool {
    margin-right: 40px;
}
.electricity {
    margin-right: 20px;
}
.interier {
    margin-right: 20px;
}
.catalog {
    margin-right: 20px;
}
.Top-Bar-right {
    display: flex;
    align-items: center; 
}
.search {
    
    background-color: #F0BA4E;
    background: transparent;
    border-bottom: 1px solid black;
    color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23bdbdbd' viewBox='0 0 16 16'><path d=' M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'></path></svg%3E");
    background-repeat: no-repeat;
    background-position: right; 
}
.moscow {
    margin-left: 20px;
    color: white;
}
.gps {
    width: 20px;
    height: 20px;
}
.three {
    width: 20px;
    height: 20px;
}